// body {
//   background-color: #EEE;

//   h1 {
//     color: #244751;
//   }
// }

$spacing-unit: 5px;

#logo {
  height: 95px;
}

body{
  padding-top: 95px;
}

.todo-check{
  padding: 10px;
}

.face {
  margin-top: 50px;
}

.lg-form form{
  margin: 0 auto;
  width: 60%;
}

.face {
  margin-top: 50px;
}

.loading-img {
  padding: 0;
  margin: 25px 0 0 0;
  width: 200px;
  display: none;
}
